/* GLOBAL */
html, body, .navbar-end, .logo-nav-container, .footer{
    font-family: roboto;
    background-color: rgb(250, 250, 250);
}

.logo-nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center; /* Alinea nav y logo horizontalmente */
}
.footer{
padding-bottom: 0!important;
}

/* Este footer se usara para los archivos .php que tengan tablas (Clientes,Productos,Pedidos por el momento) */
.footer2{
    padding-bottom: 0;
    padding-top: 0;
}

/* MENU PAGE */
.img-button{
    border-radius: 15%;
    filter: brightness(70%);
/*  -webkit-box-shadow: 8px 8px 20px -8px #00296B;  */
    box-shadow: 8px 8px 20px -8px #00296B;

}

.img-button:hover{
    border-radius: 15%;
    filter: brightness(70%);
/*  -webkit-box-shadow: 8px 8px 20px -8px #00296B;  */
    box-shadow: 8px 8px 20px -8px #00296B;
    width: 97%;
    height: 97%;

}

.titulo-imagen{
    position: relative;
    display: inline-block;
    text-align: center;
    
}
.titulo-centrado{
    font-family: Roboto;
    color: white;
    opacity: 100%;
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* TABLAS */

.table-container{
    overflow: scroll;
    overflow-x:inherit;
    max-height: 500px;
}

table.datatable thead th{
    position: sticky; top: 0;
}

table.datatable thead th, table.datatable tbody td {
    text-align: center; 
    vertical-align: middle;
/*     border: 1px solid lightgrey; */
    text-align: center;
    padding:    0px 10px 0px 10px;
    }

.table th:not([align]) {
    text-align:center;
    }

th {
    /* text-shadow: 3px 3px 3px #000000; */
    background-color: #e8eaec;  
    text-align: none;
}

td{
    font-size: small;
}

/* FORMULARIO */
.formulario{
    font-size: small;
    border: 1px solid lightgray;
    border-radius: 15%;
}

/* MARGEN HEADER */
.margen1{
    margin-top: 10px!important;
}
.margen2{
    margin-top: 50px!important;
}

/* MARGEN HEADER LOGIN */
.margenlogin{
    margin-top: 120px!important;
}

.margenPedido1{
    margin: 50px ;
    margin-top: 80px!important;
    margin-bottom: 80px!important;
}


/* SALIDAS */
.flechaAtras{
    width: 50px;
    height: 50px;
   

}

.logout{
    width: 65px;
    height: 50px;
   
}

.user{
    color:#485fc7;
    font-weight:bold;
}

.disabled { 
    cursor: default !important;
    pointer-events: none;
    opacity: 50%;
   }


.espaciadoSearcher{
    margin-top: -20px;
    margin-bottom: -20px!important;
    margin-right: -52px;
}

/* AJAX */
#clientitos, #detallitos, #editaditos, #borraditos, #productitos{
    display:none; 
    place-items: center;
    padding:0% 5%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99;
}

#pop-up{
    width: 45;
    background-color: white;
    border-radius: 1%;
    padding:2% 2%;
}
