body{
    font-family: roboto;
}

.logo-nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center; /* Alinea nav y logo horizontalmente */
}

div.rounded-div {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 200px ;
    width: 200px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 20%;
    background-size: 200% auto;
}

